<html>
    <head>
        <title>أركان الإسلام </title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">


    </head>

    <body dir="rtl" background="../img/BG2.jpg">
       <!-- Navbar -->
        <nav id="website_header" width="100%">
            <h1>
                <span class="text-primary"><i></i> موقع</span> أركان الإسلام
            </h1>
                <table class="items_header">
               <tr>
                <td><a href="../index.html"> الرئيسية </a></td>
                <td><a href="../template/shahada.html"> الشهادة </a></td>
                <td><a href="../template/salah.html"> الصلاة </a></td>
                <td><a href="../template/zaka.html"> الزكاة </a></td>
                <td><a href="../template/swm.html"> الصوم </a></td>
                <td> الحج </a></td>
            </tr>

        </table>
    </nav>



    <!---->
        <br>
            
            <div class="headline">
                <center> الحج </center>
                </div> 
            <div class="text">
            <center>
            
            الحج هو زيارة المسجد الحرام في مكة المكرمة وأداء فريضة الحج. فرض الله هذا
             الفرض على كل مسلم بالغ، قادر على تحمّل تكاليف الحج. في القرآن:
             {و لله على الناس حج البيت من استطاع إليه سبيلا} وقد فرضه الله
             الحج لتزكية النفوس، وتربية لها على معاني العبودية والطاعة والصبر،
             فضلاً على أنه فرصة عظيمة لتكفير الذنوب، فقد جاء في الحديث عن أبي هريرة:
             «من حج هذا البيت فلم يرفث ولم يفسق رجع كيوم ولدته أمه»البخاري ومسلم.

        </center>
        <center><img src="../img/hag.jpg" class="image_hg"></center>
    </div>
        
    </body>

</html>