<html>
    <head>
        <title>أركان الإسلام </title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">


    </head>


    <body dir="rtl" background="../img/BG2.jpg">
        
      <!-- Navbar -->
      <nav id="website_header" width="100%">
        <h1>
            <span class="text-primary"><i></i> موقع</span> أركان الإسلام
        </h1>
            <table class="items_header">
            <tr>
                <td><a href="../index.html"> الرئيسية </a></td>
                <td><a href="../template/shahada.html"> الشهادة </a></td>
                <td> الصلاة </a></td>
                <td><a href="../template/zaka.html"> الزكاة </a></td>
                <td><a href="../template/swm.html"> الصوم </a></td>
                <td><a href="../template/hag.html"> الحج </a></td>
            </tr>

        </table>
    </nav>



    <!---->
        <br>
            
            <div class="headline">
                <center> الصلاة </center>
                </div> 
            <div class="text">
        
        <center>
            
            الصلاة هي الركن الثاني من أركان الإسلام، لقول النبي محمد-صلى الله عليه وسلم -: "بني الإسلام على خمس: شهادة أن لا إله إلا الله وأن محمداً رسول الله، وإقام الصلاة، وإيتاء الزكاة، وصوم رمضان، وحج البيت من استطاع إليه سبيلاً"، وقوله أيضاً: "رأس الأمر الإسلام، وعموده الصلاة، وذروة سنامه الجهاد في سبيل الله"
        </center>

        <br>
        <center><img src="../img/salah1.jpg" class="image_sl"></center>
        
    </body>

</html>