<html>
    <head>
        <title>أركان الإسلام </title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">


    </head>

    <body dir="rtl" background="../img/BG2.jpg">
        
      <!-- Navbar -->
      <nav id="website_header" width="100%">
        <h1>
            <span class="text-primary"><i></i> موقع</span> أركان الإسلام
        </h1>
            <table class="items_header">
                <tr>
                    <td><a href="../index.html"> الرئيسية </a></td>
                    <td> الشهادة </td>
                    <td><a href="../template/salah.html"> الصلاة </a></td>
                    <td><a href="../template/zaka.html"> الزكاة </a></td>
                    <td><a href="../template/swm.html"> الصوم </a></td>
                    <td><a href="../template/hag.html"> الحج </a></td>
                </tr>
    
            </table> 
    </nav>



<!---->
    <br>
        
        <div class="headline">
            <center> الشهادة </center>
            </div> 
        <div class="text">
    
        <center>
            
            الشهادتان هما الإعلان عن الإيمان من دون شك، وتصريح بأن ليس هناك إله في الوجود إلا الله، وأن محمداً رسول مرسل للناس من الله. نص الشهادة هي: أشهد أن لا إله إلا الله وأشهد أن محمداً رسول الله. وهذا النص يُقال يومياً في صلاة المسلمين، وهو أيضاً المفتاح الرئيسي لدخول شخص غير مسلم في الإسلام.


        </center>

        <br>
        <center><img src="../img/shahada.jpg" class="image_sh"></center>
        </div>
    </body>

</html>