<html>
    <head>
        <title>أركان الإسلام </title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">


    </head>

    <body dir="rtl" background="../img/BG2.jpg">
      <!-- Navbar -->
      <nav id="website_header" width="100%">
        <h1>
            <span class="text-primary"><i></i> موقع</span> أركان الإسلام
        </h1>
            <table class="items_header">

            <tr>
                <td><a href="../index.html"> الرئيسية </a></td>
                <td><a href="../template/shahada.html"> الشهادة </a></td>
                <td><a href="../template/salah.html"> الصلاة </a></td>
                <td><a href="../template/zaka.html"> الزكاة </a></td>
                <td> الصوم </a></td>
                <td><a href="../template/hag.html"> الحج </a></td>
            </tr>

        </table>
    </nav>



    <!---->
        <br>
            
            <div class="headline">
                <center> الصوم </center>
                </div> 
            <div class="text">

        <center>
  
والمسلم يصوم عن الطعام والشراب ويمتنع عن اللغو والنميمة والمعاشرة الزوجية وكل عمل سيء من طلوع الفجر (أي: من أول وقت صلاة الفجر) إلى غروب الشمس (أول وقت صلاة المغرب). ويقضي طوال يومه في عبادة وذكر وتلاوة للقرآن ودروس علم تعطيه زاداً إيمانياً يكفيه بقية العام.

ويسقط هذا الفرض عمن لا يقوى على صومه كمرض ألمّ به يُلزمه بتناول الدّواء أو كمريض قرحة المعدة الذي لا يقوى على المعدة الفارغة من الأكل والشرب.


        </center>

        <br>
        <center><img src="../img/ramadan.jpg" class="image_swm"></center>
    </div>
 
    </body>

</html>