<html>
    <head>
        <title>أركان الإسلام </title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">


    </head>

    <body dir="rtl" background="../img/BG2.jpg">
      <!-- Navbar -->
      <nav id="website_header" width="100%">
        <h1>
            <span class="text-primary"><i></i> موقع</span> أركان الإسلام
        </h1>
            <table class="items_header">
            <tr>
                <td><a href="../index.html"> الرئيسية </a></td>
                <td><a href="../template/shahada.html"> الشهادة </a></td>
                <td><a href="../template/salah.html"> الصلاة </a></td>
                <td> الزكاة </a></td>
                <td><a href="../template/swm.html"> الصوم </a></td>
                <td><a href="../template/hag.html"> الحج </a></td>
            </tr>

        </table>
    </nav>



    <!---->
        <br>
            
            <div class="headline">
                <center> الزكاة </center>
                </div> 
            <div class="text">
    
        <center>
            
            وإيتاء الزكاة هو عبادة مالية فرضها الله على عباده، طهرة لنفوسهم من البخل، ولصحائفهم من الخطايا، وقد ذكر الله في كتابه: "خذ من أموالهم صدقة تطهرهم وتزكيهم بها" (التوبة : 103).

وقد فرض الله على المسلمين زكاتين، زكاة الفطر وهي التي تؤدى بعد شهر رمضان، وزكاة المال في أجناس مخصوصة.

وتُدفع الزكاة في مصارفها الثمانية للفقراء والمساكين.. ويسقط هذا الفرض عن الناس المعدمين الذين لايملكون شيئاً.


        </center>

        <br>
        <center><img src="../img/zaka2.jpg" class="image_zk"></center>
            </div>
    </body>

</html>